<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.2.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">

    <context:component-scan base-package="com.springbook.biz"/>
    <bean id="log" class="com.springbook.biz.common.LogAdvice"></bean>
    <aop:config>
        <aop:pointcut id="allPointcut" expression="execution(* com.springbook.biz..*Impl.*(..)))"/>
        <aop:aspect ref="log">
            <aop:before pointcut-ref="allPointcut" method="printLog"/>
        </aop:aspect>
    </aop:config>
    <!--<bean id="userService" class="com.springbook.biz.user.impl.UserServiceImpl">-->
        <!--<property name="userDAO" ref="userDAO"/>-->
    <!--</bean>-->

    <!--<bean id="userDAO" class="com.springbook.biz.user.impl.UserDAO"/>-->


    <!--<bean class="polymorphism.SonySpeaker"></bean>-->

    <!--<bean id="collectionBean" class="com.springbook.ioc.injection.CollectionBean">-->
        <!--<property name="addressList">-->
            <!--<map>-->
                <!--<entry>-->
                    <!--<key><value>고길동</value></key>-->
                    <!--<value>서울시 강남두 역삼동</value>-->
                <!--</entry>-->
                <!--<entry>-->
                    <!--<key><value>마이콜</value></key>-->
                    <!--<value>서울시 강서구 화곡동</value>-->
                <!--</entry>-->
            <!--</map>-->
        <!--</property>-->
    <!--</bean>-->

    <!--<bean id="tv" class="polymorphism.SamsungTV" p:speaker-ref="sony" p:price="2700000" init-method="initMethod" destroy-method="destroyMethod" scope="prototype">-->
    <!--</bean>-->

    <!--<bean id="sony" class="polymorphism.SonySpeaker"/>-->
    <!--<bean id="apple" class="polymorphism.AppleSpeaker"/>-->

</beans>